@model IEnumerable<DreamDay.Models.Vendor>
@{
	ViewData["Title"] = "Manage Vendors";
}
<h1>Manage Vendors</h1><p><a asp-action="CreateVendor" class="btn btn-primary">Create New Vendor</a></p>
<table class="table">
	<thead><tr><th>@Html.DisplayNameFor(model => model.Name)</th><th>@Html.DisplayNameFor(model => model.Category)</th><th></th></tr></thead>
	<tbody>@foreach (var item in Model){
	<tr><td>@Html.DisplayFor(modelItem => item.Name)</td><td>@Html.DisplayFor(modelItem => item.Category)</td><td><a asp-action="EditVendor" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a> | <a asp-action="DeleteVendor" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a></td></tr>
		}
</tbody>
</table>